.venv/
__pycache__/
*.pyc
.ipynb_checkpoints/

models/*
!models/.gitkeep

outputs/*
!outputs/.gitkeep
!outputs/*_metrics.json
!outputs/*_confusion_matrix.png
outputs/transformer_training/

*.log
.env
